#allContent {
	position: relative;
}

.robotocat{
	width: 86px;
	height: 190px;
	position: absolute;
	left: 380px;
	top: 294px;
	margin: -20px;
	z-index: 999;
	animation: animationFrames ease-out 15s;
	animation-iteration-count: 1;
	transform-origin: 0% 50%;
}

@keyframes animationFrames{
  0% {
    transform:  translate(-270px,-172px)  rotate(0deg) ;
  }
  20% {
    transform:  translate(-250px,28px)  rotate(56deg) ;
  }
  41% {
    transform:  translate(161px,-163px)  rotate(105deg) ;
  }
  69% {
    transform:  translate(79px,76px)  rotate(155deg) ;
  }
  87% {
    transform:  translate(-18px,-107px)  rotate(175deg) ;
  }
  100% {
    transform:  translate(0px,0px)  rotate(0deg) ;
  }
}