/* ----------------------------------------------------------------------------------- start top banner */
.mainMsgContainer {
	width:93.75em; /*900px*/
    height:34.38em; /*330px*/
    display:block;
    margin-bottom:2.08em; /*8px;*/
    border:0;
    overflow:hidden;
    color:#545454; /* or #545454 */
}

.mainMsgContainer .leftContainer {
    width:74.79em; /*718px;*/
    height:100%;
    float:left;
    margin-right:0.21em; /*2px;*/
    position:relative;
    display:inline;
}

.mainMsgContainer .leftContainer .flashAd {
	width:74.79em; /*718px;*/
    height:34.38em; /*330px*/
	overflow:hidden;
	display:block;
}

.mainMsgContainer .leftContainer .bgImg {
    width:74.79em; /*718px;*/
    height:34.38em; /*330px;*/
    position:absolute;
    z-index:1;
}

.mainMsgContainer .leftContainer .textContainer {
    z-index:2;
    padding-top:2.60em; /*25px;*/
    padding-left:2.60em; /*25px;*/
}

.mainMsgContainer .leftContainer .productContainer {
    z-index:2;
    padding-right:2.60em; /*25px;*/
}

.mainMsgContainer .leftContainer .leftHeader {
    font-weight:bold;
    font-size:3.13em; /*30px;*/
    line-height:1em; /*32px;*/
    z-index:2;
}

.mainMsgContainer .leftContainer .newImgLarge {
    display:block;
}

.mainMsgContainer .leftContainer .product {
    font-weight:bold;
    font-size:1.88em; /*18px;*/
}

.mainMsgContainer .leftContainer .productLocal {
    font-size:1.46em; /*14px;*/
}

.mainMsgContainer .leftContainer .descr {
    font-size:1.15em; /*11px;*/
    display:block;
    line-height:1em; /*32px;*/
}

.mainMsgContainer .leftContainer .price {
    font-size:3.33em; /*32px;*/
    font-weight:bold;
    display:block;
    line-height:1em; /*32px;*/
}

.mainMsgContainer .leftContainer .priceLocal {
    font-size:1.88em; /*18px;*/
    display:block;
    line-height:1em; /*18px;*/
}

.mainMsgContainer .leftContainer .familyHeader {
    font-size:1.46em; /*14px;*/
    font-weight:bold;
    display:block;
    color:#FF6600;
}

.mainMsgContainer .leftContainer .familyPrice {
    font-size:1.46em; /*14px;*/
    display:block;
}

.mainMsgContainer a.link:link, .mainMsgContainer a.link:visited {
    display:block;
    font-size:1.15em; /*11px;*/
    text-decoration:none;
}

.mainMsgContainer a.link:active, .mainMsgContainer a.link:hover {
    text-decoration:underline;
}

.mainMsgContainer .rightContainer {
    width:18.75em; /*180px;*/
    height:100%;
    float:right;
    position:relative;
    display:inline;
}

.mainMsgContainer .rightContainer .flashAd {
	width:18.75em; /*180px;*/
    height:34.38em; /*330px*/
	overflow:hidden;
	display:block;
}

.mainMsgContainer .rightContainer .textContainer {
    z-index:2;
    padding:0 1.56em 0 1.56em; /*0 15px 0 15px;*/
}

.mainMsgContainer .rightContainer .rightHeader {
    font-weight:bold;
    font-size:1.88em; /*18px;*/
    line-height:1em; /*20px;*/
    z-index:2;
    display:block;
}

.mainMsgContainer .rightContainer .text {
    font-size:1.15em; /*11px;*/
}

.mainMsgContainer .rightContainer .text a, .mainMsgContainer .rightContainer .rightHeader a {
    display:block;
}

.mainMsgContainer .rightContainer .bgImg {
    width:18.75em; /*180px;*/
    height:34.38em; /*330px;*/
}

.firstFlashContent {
	margin-bottom:2.08em;
}
	

/* ----------------------------------------------------------------------------------- end top banner */
.leftNavigation .navigationBlock .sideModule .selectStore {
	padding:0 0 0.42em 0;
	width:19.06em;
}
.leftNavigation .navigationBlock .sideModule .selectStore select {
	float:left;
	font-size:1.15em;
	margin-bottom:0.52em;
	margin-right:0.45em;
	margin-top:1px;
	width:12.33em;
}
.storeandhelp {
    background-color:#ebf5ff;
}
#mainPadding .storeandhelp .gridRow {
    width:335px;
    float:left;
}
.localStoreAd {
    width:230px;
    margin-left:20px;
    margin-right:109px;
    margin-bottom:20px;
    float:left;
}
.localStoreAd .headline {
    font-size:18px;
    font-weight:bold;
    line-height:20px;
    letter-spacing:-1px;
    display:block;
    margin-top:15px;
}
.localStoreAd .storesLink {
    margin-top:15px;
    display:block;
}
.localStoreAd .subHeadline {
    font-size:12px;
    font-weight:bold;
    line-height:18px;
    display:block;
    margin-top:13px;
}
.localStoreAd .bodytext {
    font-size:12px;
    letter-spacing:-1px;
    line-height:18px;
    margin-top:1px;
}
.localStoreAd a {
    font-size:12px;
    line-height:18px;
    letter-spacing:-1px;
    color:#0269CE;
    margin-top:1px;
    float:left;
    clear:both;
}
.localStoreAd #localStoreAdDropDown {
    float:left;
    margin-top:8px;
}
.localStoreAd span#localStoreAdDropDown {
    display:none;
}
.localStoreAd div#localStoreAdDropDown {
}
.localStoreAd #localStoreAdDropDown .storesHeadline {
    display:block;
}
.localStoreAd #localStoreAdDropDown a {
    display:none;
}
.localStoreAd .blueBtn {
    margin-top:18px;
    float:left;
    clear:none;
}
.localStoreAd .irwDropDown {
    margin-right:10px;
}
.irwDropDown {
    padding:10px 0;
    position:relative;
    z-index:100;
    cursor:pointer;
}
.irwDropDown .boxLeft {
    background:url("/ms/img/filter/sortingLeft.png") no-repeat scroll left center transparent;
    height:26px;
    width:4px;
    float:left;
}
.irwDropDown .boxButton {
    background:url("/ms/img/filter/sortingRight.png") no-repeat scroll right center transparent;
    height:26px;
    width:28px;
    float:left;
}
.irwDropDown .boxText {
    background:url("/ms/img/filter/sortingMid.png") repeat-x scroll right center transparent;
    border:medium none;
    color:#666666;
    font-size:12px;
    height:26px;
    line-height:25px;
    padding:0 20px 0 10px;
    width:auto;
    float:left;
}
#subContainer .listContainer {
    margin-bottom:12px;
}
#subContainer.fixedHeight {
    height: 142px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#subContainer a {
    display: block;
    color: #333333;
    font-size:12px;
    padding: 10px 10px 0;
    text-decoration: none;
}
#subContainer a:hover{
    color: #F60;
}
#subContainer a.activeLink {
    font-weight: bold;
    color: #F57129;
}