/* Only for Firefox */
@-moz-document url-prefix() {	

	.rightContent .paginationMenu .paginationButtonTextPaddingPrevInactive,
	.rightContent .paginationMenu .paginationButtonTextPaddingPrev a {
		background-position:left 4px;
	}

	.rightContent .paginationMenu .paginationButtonTextPaddingNextInactive,
	.rightContent .paginationMenu .paginationButtonTextPaddingNext a {
		background-position:right 4px;
	}

	.rightContent .paginationMenu .paginationPage span,
	.rightContent .paginationMenu .paginationPage a {
		margin:0 -0.182em;
	}
	
	/*only firefox 3*/
	div.buttonContainer a .buttonCaption, x:-moz-any-link, x:default {
		padding:3px 0 4px;
	}
	div.buttonContainer a .buttonLeft, div.buttonContainer a .buttonRight, x:-moz-any-link, x:default {
		padding:3px 3px 4px;		
	}
	
	select {
		position:relative;
		top:-1px;
	}
	
	.rightContent .productsContainer .productContainer .prodDesc {
		margin-bottom:0;
	}

	.rightContent .productsContainer .productContainer .prodPriceFamily {
		margin-bottom:0.182em;
	}
	
	.rightContent .productsContainer .productContainer .prodPrice {
		margin-bottom:0.0714em;
	}
    
    .slPopup label, #shoppingList .noJs label {
        top:0px;
    }
	
    .rightContent .filterDropdowns .option .color {
        margin-top:1px;
    }
    
    .rightContent .filterContainer .buyOnline input {
        margin-top:10px;
    }
    
    .rightContent .filterContainer .buyOnline label {
        bottom:0;
    }

    .rightContent .productsContainer .compare label {
        top:0;
    }

    .rightContent .compareRow .compare input {
        margin-right:0px;
    }
    
    #productPopup {
        width:140px;
    }
}

/* Only for Safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {

    .rightContent .productsContainer .productContainer .cartContainer .compare label,
    .rightContent .prodRecsContainer .prodRecContainer .cartContainer .compare label {
        top:0;    
	}
    
}