/* This is a local css with styles used depending on locale */

.newImgSmall {
	width:3.65em;/*35px;*/
	height:1.46em;/*14px;*/
}

.newImgLarge {
	width:4.79em;/*46px;*/
	height:1.88em;/*18px;*/
}

.leftNavigation .navigationBlock .productItem .newImgSmall {
	float:left;
	margin-right:0.83em; /*8px*/
    margin-top:0.94em; /*9px;*/
}

.leftNavigation .navigationBlock .productItem .prodNameNewImg {
    float:left;
    width:78%; /*154px;*/
    padding:1.04em 0;
}